/.idea/
/LOG_PATH_IS_UNDEFINED/
/out/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/uiDesigner.xml
.idea/workspace.xml
out/
src/main/java/com/sdut/trade/utils/
target/UiTest-0.0.1-SNAPSHOT.jar
target/UiTest-0.0.1-SNAPSHOT.jar.original
target/classes/com/sdut/trade/controller/IndexController.class
target/classes/com/sdut/trade/controller/InvoiceController.class
target/classes/com/sdut/trade/controller/LogisticsController.class
target/classes/com/sdut/trade/controller/MajorTermsController.class
target/classes/com/sdut/trade/controller/TransactionDetailsController.class
target/classes/com/sdut/trade/dao/
target/classes/com/sdut/trade/domain/
target/classes/com/sdut/trade/enums/
target/classes/com/sdut/trade/service/
target/classes/static/css/bootstrap-table.css
target/classes/static/css/googleFont.css
target/classes/static/css/my-style.css
target/classes/static/footer.js
target/classes/static/head.js
target/classes/static/images/head_image.png
target/classes/static/invoice.html
target/classes/static/js/bootstrap-table.js
target/classes/static/js/my-js.js
target/classes/static/js/my-logistics.js
target/classes/static/js/my-terms-js.js
target/classes/static/logistics.html
target/classes/static/major_terms.html
target/classes/static/navigation.js
target/classes/static/transaction_details.html
target/conf/
target/generated-sources/
