<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdut.trade.mapper.DealDetailMapper">
  <resultMap id="BaseResultMap" type="com.sdut.trade.entity.DealDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="way" jdbcType="INTEGER" property="way" />
    <result column="wechat_pay_account" jdbcType="VARCHAR" property="wechatPayAccount" />
    <result column="wechat_receive_account" jdbcType="VARCHAR" property="wechatReceiveAccount" />
    <result column="bank_pay_account" jdbcType="BIGINT" property="bankPayAccount" />
    <result column="bank_receive_account" jdbcType="BIGINT" property="bankReceiveAccount" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="check_number" jdbcType="BIGINT" property="checkNumber" />
    <result column="check_people_pay" jdbcType="VARCHAR" property="checkPeoplePay" />
    <result column="check_people_receive" jdbcType="VARCHAR" property="checkPeopleReceive" />
    <result column="check_date" jdbcType="DATE" property="checkDate" />
    <result column="check_deadline" jdbcType="DATE" property="checkDeadline" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="enable" jdbcType="BIT" property="enable" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="company" jdbcType="VARCHAR" property="company" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, date, amount, type, way, wechat_pay_account, wechat_receive_account, bank_pay_account, 
    bank_receive_account, bank_name, check_number, check_people_pay, check_people_receive, 
    check_date, check_deadline, remark, create_date, delete_date, enable, update_date, 
    company
  </sql>
  <select id="selectByExample" parameterType="com.sdut.trade.entity.DealDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deal_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deal_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deal_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sdut.trade.entity.DealDetailExample">
    delete from deal_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sdut.trade.entity.DealDetail">
    insert into deal_detail (id, date, amount, 
      type, way, wechat_pay_account, 
      wechat_receive_account, bank_pay_account, bank_receive_account, 
      bank_name, check_number, check_people_pay, 
      check_people_receive, check_date, check_deadline, 
      remark, create_date, delete_date, 
      enable, update_date, company
      )
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{amount,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{way,jdbcType=INTEGER}, #{wechatPayAccount,jdbcType=VARCHAR}, 
      #{wechatReceiveAccount,jdbcType=VARCHAR}, #{bankPayAccount,jdbcType=BIGINT}, #{bankReceiveAccount,jdbcType=BIGINT}, 
      #{bankName,jdbcType=VARCHAR}, #{checkNumber,jdbcType=BIGINT}, #{checkPeoplePay,jdbcType=VARCHAR}, 
      #{checkPeopleReceive,jdbcType=VARCHAR}, #{checkDate,jdbcType=DATE}, #{checkDeadline,jdbcType=DATE}, 
      #{remark,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{deleteDate,jdbcType=TIMESTAMP}, 
      #{enable,jdbcType=BIT}, #{updateDate,jdbcType=TIMESTAMP}, #{company,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sdut.trade.entity.DealDetail">
    insert into deal_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="way != null">
        way,
      </if>
      <if test="wechatPayAccount != null">
        wechat_pay_account,
      </if>
      <if test="wechatReceiveAccount != null">
        wechat_receive_account,
      </if>
      <if test="bankPayAccount != null">
        bank_pay_account,
      </if>
      <if test="bankReceiveAccount != null">
        bank_receive_account,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="checkNumber != null">
        check_number,
      </if>
      <if test="checkPeoplePay != null">
        check_people_pay,
      </if>
      <if test="checkPeopleReceive != null">
        check_people_receive,
      </if>
      <if test="checkDate != null">
        check_date,
      </if>
      <if test="checkDeadline != null">
        check_deadline,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="deleteDate != null">
        delete_date,
      </if>
      <if test="enable != null">
        enable,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="company != null">
        company,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="way != null">
        #{way,jdbcType=INTEGER},
      </if>
      <if test="wechatPayAccount != null">
        #{wechatPayAccount,jdbcType=VARCHAR},
      </if>
      <if test="wechatReceiveAccount != null">
        #{wechatReceiveAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankPayAccount != null">
        #{bankPayAccount,jdbcType=BIGINT},
      </if>
      <if test="bankReceiveAccount != null">
        #{bankReceiveAccount,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        #{checkNumber,jdbcType=BIGINT},
      </if>
      <if test="checkPeoplePay != null">
        #{checkPeoplePay,jdbcType=VARCHAR},
      </if>
      <if test="checkPeopleReceive != null">
        #{checkPeopleReceive,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        #{checkDate,jdbcType=DATE},
      </if>
      <if test="checkDeadline != null">
        #{checkDeadline,jdbcType=DATE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        #{enable,jdbcType=BIT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sdut.trade.entity.DealDetailExample" resultType="java.lang.Long">
    select count(*) from deal_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update deal_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=DATE},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.way != null">
        way = #{record.way,jdbcType=INTEGER},
      </if>
      <if test="record.wechatPayAccount != null">
        wechat_pay_account = #{record.wechatPayAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatReceiveAccount != null">
        wechat_receive_account = #{record.wechatReceiveAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.bankPayAccount != null">
        bank_pay_account = #{record.bankPayAccount,jdbcType=BIGINT},
      </if>
      <if test="record.bankReceiveAccount != null">
        bank_receive_account = #{record.bankReceiveAccount,jdbcType=BIGINT},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.checkNumber != null">
        check_number = #{record.checkNumber,jdbcType=BIGINT},
      </if>
      <if test="record.checkPeoplePay != null">
        check_people_pay = #{record.checkPeoplePay,jdbcType=VARCHAR},
      </if>
      <if test="record.checkPeopleReceive != null">
        check_people_receive = #{record.checkPeopleReceive,jdbcType=VARCHAR},
      </if>
      <if test="record.checkDate != null">
        check_date = #{record.checkDate,jdbcType=DATE},
      </if>
      <if test="record.checkDeadline != null">
        check_deadline = #{record.checkDeadline,jdbcType=DATE},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteDate != null">
        delete_date = #{record.deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enable != null">
        enable = #{record.enable,jdbcType=BIT},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.company != null">
        company = #{record.company,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update deal_detail
    set id = #{record.id,jdbcType=INTEGER},
      date = #{record.date,jdbcType=DATE},
      amount = #{record.amount,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      way = #{record.way,jdbcType=INTEGER},
      wechat_pay_account = #{record.wechatPayAccount,jdbcType=VARCHAR},
      wechat_receive_account = #{record.wechatReceiveAccount,jdbcType=VARCHAR},
      bank_pay_account = #{record.bankPayAccount,jdbcType=BIGINT},
      bank_receive_account = #{record.bankReceiveAccount,jdbcType=BIGINT},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      check_number = #{record.checkNumber,jdbcType=BIGINT},
      check_people_pay = #{record.checkPeoplePay,jdbcType=VARCHAR},
      check_people_receive = #{record.checkPeopleReceive,jdbcType=VARCHAR},
      check_date = #{record.checkDate,jdbcType=DATE},
      check_deadline = #{record.checkDeadline,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      delete_date = #{record.deleteDate,jdbcType=TIMESTAMP},
      enable = #{record.enable,jdbcType=BIT},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      company = #{record.company,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sdut.trade.entity.DealDetail">
    update deal_detail
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="way != null">
        way = #{way,jdbcType=INTEGER},
      </if>
      <if test="wechatPayAccount != null">
        wechat_pay_account = #{wechatPayAccount,jdbcType=VARCHAR},
      </if>
      <if test="wechatReceiveAccount != null">
        wechat_receive_account = #{wechatReceiveAccount,jdbcType=VARCHAR},
      </if>
      <if test="bankPayAccount != null">
        bank_pay_account = #{bankPayAccount,jdbcType=BIGINT},
      </if>
      <if test="bankReceiveAccount != null">
        bank_receive_account = #{bankReceiveAccount,jdbcType=BIGINT},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="checkNumber != null">
        check_number = #{checkNumber,jdbcType=BIGINT},
      </if>
      <if test="checkPeoplePay != null">
        check_people_pay = #{checkPeoplePay,jdbcType=VARCHAR},
      </if>
      <if test="checkPeopleReceive != null">
        check_people_receive = #{checkPeopleReceive,jdbcType=VARCHAR},
      </if>
      <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=DATE},
      </if>
      <if test="checkDeadline != null">
        check_deadline = #{checkDeadline,jdbcType=DATE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteDate != null">
        delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      </if>
      <if test="enable != null">
        enable = #{enable,jdbcType=BIT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sdut.trade.entity.DealDetail">
    update deal_detail
    set date = #{date,jdbcType=DATE},
      amount = #{amount,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      way = #{way,jdbcType=INTEGER},
      wechat_pay_account = #{wechatPayAccount,jdbcType=VARCHAR},
      wechat_receive_account = #{wechatReceiveAccount,jdbcType=VARCHAR},
      bank_pay_account = #{bankPayAccount,jdbcType=BIGINT},
      bank_receive_account = #{bankReceiveAccount,jdbcType=BIGINT},
      bank_name = #{bankName,jdbcType=VARCHAR},
      check_number = #{checkNumber,jdbcType=BIGINT},
      check_people_pay = #{checkPeoplePay,jdbcType=VARCHAR},
      check_people_receive = #{checkPeopleReceive,jdbcType=VARCHAR},
      check_date = #{checkDate,jdbcType=DATE},
      check_deadline = #{checkDeadline,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      delete_date = #{deleteDate,jdbcType=TIMESTAMP},
      enable = #{enable,jdbcType=BIT},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      company = #{company,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into deal_detail
    (id, date, amount, type, way, wechat_pay_account, wechat_receive_account, bank_pay_account, 
      bank_receive_account, bank_name, check_number, check_people_pay, check_people_receive, 
      check_date, check_deadline, remark, create_date, delete_date, enable, update_date, 
      company)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.date,jdbcType=DATE}, #{item.amount,jdbcType=INTEGER}, 
        #{item.type,jdbcType=INTEGER}, #{item.way,jdbcType=INTEGER}, #{item.wechatPayAccount,jdbcType=VARCHAR}, 
        #{item.wechatReceiveAccount,jdbcType=VARCHAR}, #{item.bankPayAccount,jdbcType=BIGINT}, 
        #{item.bankReceiveAccount,jdbcType=BIGINT}, #{item.bankName,jdbcType=VARCHAR}, 
        #{item.checkNumber,jdbcType=BIGINT}, #{item.checkPeoplePay,jdbcType=VARCHAR}, #{item.checkPeopleReceive,jdbcType=VARCHAR}, 
        #{item.checkDate,jdbcType=DATE}, #{item.checkDeadline,jdbcType=DATE}, #{item.remark,jdbcType=VARCHAR}, 
        #{item.createDate,jdbcType=TIMESTAMP}, #{item.deleteDate,jdbcType=TIMESTAMP}, #{item.enable,jdbcType=BIT}, 
        #{item.updateDate,jdbcType=TIMESTAMP}, #{item.company,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      @project https://github.com/itfsw/mybatis-generator-plugin
    -->
    insert into deal_detail (
    <foreach collection="selective" item="column" separator=",">
      ${column.value}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'id' == column.value">
          #{item.id,jdbcType=INTEGER}
        </if>
        <if test="'date' == column.value">
          #{item.date,jdbcType=DATE}
        </if>
        <if test="'amount' == column.value">
          #{item.amount,jdbcType=INTEGER}
        </if>
        <if test="'type' == column.value">
          #{item.type,jdbcType=INTEGER}
        </if>
        <if test="'way' == column.value">
          #{item.way,jdbcType=INTEGER}
        </if>
        <if test="'wechat_pay_account' == column.value">
          #{item.wechatPayAccount,jdbcType=VARCHAR}
        </if>
        <if test="'wechat_receive_account' == column.value">
          #{item.wechatReceiveAccount,jdbcType=VARCHAR}
        </if>
        <if test="'bank_pay_account' == column.value">
          #{item.bankPayAccount,jdbcType=BIGINT}
        </if>
        <if test="'bank_receive_account' == column.value">
          #{item.bankReceiveAccount,jdbcType=BIGINT}
        </if>
        <if test="'bank_name' == column.value">
          #{item.bankName,jdbcType=VARCHAR}
        </if>
        <if test="'check_number' == column.value">
          #{item.checkNumber,jdbcType=BIGINT}
        </if>
        <if test="'check_people_pay' == column.value">
          #{item.checkPeoplePay,jdbcType=VARCHAR}
        </if>
        <if test="'check_people_receive' == column.value">
          #{item.checkPeopleReceive,jdbcType=VARCHAR}
        </if>
        <if test="'check_date' == column.value">
          #{item.checkDate,jdbcType=DATE}
        </if>
        <if test="'check_deadline' == column.value">
          #{item.checkDeadline,jdbcType=DATE}
        </if>
        <if test="'remark' == column.value">
          #{item.remark,jdbcType=VARCHAR}
        </if>
        <if test="'create_date' == column.value">
          #{item.createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'delete_date' == column.value">
          #{item.deleteDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'enable' == column.value">
          #{item.enable,jdbcType=BIT}
        </if>
        <if test="'update_date' == column.value">
          #{item.updateDate,jdbcType=TIMESTAMP}
        </if>
        <if test="'company' == column.value">
          #{item.company,jdbcType=VARCHAR}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>